banktransfer/src/main/app/banktransfer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="9011" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="admin" database="db2json" doc:name="MySQL Configuration"/>
    <flow name="banktransferFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/bank" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.get('amount')&gt;=0]">
                <db:select config-ref="MySQL_Configuration" doc:name="Database-select fromacc">
                    <db:parameterized-query><![CDATA[SELECT * FROM account where accno= #[message.inboundProperties.'http.query.params'.get('fromacc')]]]></db:parameterized-query>
                </db:select>
                <set-variable variableName="fromacc" value="#[payload]" doc:name="Variable-fromacc"/>
                <db:select config-ref="MySQL_Configuration" doc:name="Database- select toacc">
                    <db:parameterized-query><![CDATA[SELECT * FROM account  where accno= #[message.inboundProperties.'http.query.params'.get('toacc')]]]></db:parameterized-query>
                </db:select>
                <set-variable variableName="toacc" value="#[payload]" doc:name="Variable-toacc"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <transactional action="ALWAYS_BEGIN" doc:name="Transactional">
                    <db:update config-ref="MySQL_Configuration" doc:name="Database-withdrow">
                        <db:parameterized-query><![CDATA[update account set balance=balance - #[message.inboundProperties.'http.query.params'.get('amount')] where accno = #[message.inboundProperties.'http.query.params'.get('fromacc')]]]></db:parameterized-query>
                    </db:update>
                    <db:update config-ref="MySQL_Configuration" doc:name="Database- deposite ">
                        <db:parameterized-query><![CDATA[update account set balance=balance + #[message.inboundProperties.'http.query.params'.get('amount')] where accno = #[message.inboundProperties.'http.query.params'.get('toacc')]]]></db:parameterized-query>
                    </db:update>
                </transactional>
                <set-payload value="#[message.inboundProperties.'http.query.params'.get('amount')] deposited to ?????
#[sessionVars.toacc]" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="ante leba" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
